<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325666019774-v6obok5c2qs0tleki06qbsro6v0ll8mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325666019774-v6obok5c2qs0tleki06qbsro6v0ll8mp</string>
	<key>API_KEY</key>
	<string>AIzaSyDqODWsRUvAnALljkM1IP76inP76bTfBjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>325666019774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yossibank.mvvmarchitecturetemplate</string>
	<key>PROJECT_ID</key>
	<string>mvvmarchitecture-release</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmarchitecture-release.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325666019774:ios:201821a8ed70e5a15001ef</string>
</dict>
</plist>