<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881321875550-8od2qfnvsmec2jn57a0n1dp42a9uv4ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881321875550-8od2qfnvsmec2jn57a0n1dp42a9uv4ab</string>
	<key>API_KEY</key>
	<string>AIzaSyBY7Sg5yYUozN5nebtapxv4pPTodV913es</string>
	<key>GCM_SENDER_ID</key>
	<string>881321875550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yossibank.MVVMArchitectureTemplate.dev</string>
	<key>PROJECT_ID</key>
	<string>mvvmarchitecturetemplate-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmarchitecturetemplate-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881321875550:ios:33ec2208cefd39f400bccf</string>
</dict>
</plist>