<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906020491656-mvlnd0saump55uptv0c7h707udsv8jqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906020491656-mvlnd0saump55uptv0c7h707udsv8jqq</string>
	<key>API_KEY</key>
	<string>AIzaSyBtY31RttFtiwSfErq-nEHl4FIuOwqqJjw</string>
	<key>GCM_SENDER_ID</key>
	<string>906020491656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yossibank.mvvmarchitecturetemplate.devevelopment</string>
	<key>PROJECT_ID</key>
	<string>mvvmarchitecturetemplate-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvmarchitecturetemplate-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906020491656:ios:3b174d821912513e3f6a3d</string>
</dict>
</plist>